:root {
  --font-base: "Space Grotesk", sans-serif;
}

/* HTML E BODY -- */

* {
  font-family: var(--font-base);
  font-size: 1rem;
}

/* -- TÍTULOS -- */

h1, h2, h3, h4 {
  font-weight: 700;
}

h1 { font-size: 3rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.5rem; }


/*-- CONTENT -- */

.content {
  width: min(1200px, 100%);
  margin-inline: auto;
  padding-inline: 1rem;
}
