:root {
  --font-base: "Space Grotesk", sans-serif;
}

/* HTML E BODY -- */

* {
  font-family: var(--font-base);
  font-weight:300;
  font-size: 1rem;
}

a{
  text-decoration: none !important;
}

body{
    padding-inline: 1rem;
}

/* -- TÃTULOS -- */

h1, h2, h3, h4 {
  font-weight: 700;
}

h1 { font-size: 3rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.5rem; }

/*-- MENU -- */

#menu{
    margin-bottom:20px;
}

/*-- CONTENT -- */

.content {
  width: min(900px, 100%);
  margin-inline: auto;
  padding-inline: 1rem;
  display:grid;
  grid-template-columns:repeat(5, 1fr);
  gap:30px;
}

.content > * {
    background-color: #ddd;
    vertical-align: middle !important;
}

#artist-image{
    width: 100%;
    height:auto;
}